.section {
	margin-bottom:1em;
}
.section__placeholder {
	border:1px solid;
}
.section__placeholder:hover{
	border:2px solid black;
	font-weight:bold;
}

.landingPage__btn {
	border:1px solid gray;
}
.landingPage__btn:hover{
	border:3px solid black;
}
.landingPage__btn *{
	vertical-align:middle;
}
.profile-listing{
	display:flex;
	flex-direction:column;
	margin:1em;
	padding:1em;
	border:1px solid;
}
.profile-listing:hover{
	border:2px solid black;
	font-weight:bold;
}